img {
    border: 5px solid #555;
    margin-right: 10px;
  }

.description {
    font-family: 'Helvetica';
    font-size: 10;
    padding-top: 10px;
}

h2 {
    margin-top: 10px;
}

.info {
    font-family: 'Helvetica';
    font-size: 10;
}